<header>
  {{#link-to 'index'}}<h1 id="title">Super Rentals</h1>{{/link-to}}
  <nav>
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Contact us{{/link-to}}
    {{#link-to 'announcement'}}Announcements{{/link-to}}
  </nav>
</header>

{{outlet}}

<footer>
  <p>&copy; 2016 Super Rentals Inc.</p>
</footer>
